html, body {
  height: 100%;
  padding: 0;
  background: #f5f5f5;  /* light gray or use #fff for white */
  width: 100vw;
  min-width: 100vw;
  box-sizing: border-box;
}

.app-container {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem 2rem 5rem 2rem;
  background-color: #f5f5f5;
  width: 100vw;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin: 2rem 0 1rem 0; 
}

select, button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

table {
  margin-top: 1rem;
  width: 100%;
  max-width: 900px;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

td strong {
  color: #333;
}
